html, body
{
    height:100%;margin:0;
}


section
{
    height:92%;
    background-image:url("../img/officepeople.jpg");
    background-repeat:no-repeat;background-size:cover;
    display:flex;align-items:flex-end;
    
}
section div
{
    height:15%;
    width:100%;
}
h1
{
text-align:center;font-size:3.5em;
text-shadow: 5px 5px black;color:white;
}

nav a:hover
{
    color:yellow;
}

@media only screen and (max-width:908px)
{
h1
{
font-size:2.4em;
}    
}
@media only screen and (max-width:576px)
{
 nav
 {
     font-size:1.4em;
 }
 h1
 {
     font-size:1.4em;
 }}